:root {
  --bg-main: rgb(245, 245, 245);
  --bg-content-box: rgb(255, 255, 255);
  --bg-add-button: rgb(66, 66, 202);
  --border-content: rgba(206, 204, 204, 0.2);
  --shc1: rgb(118, 19, 179);
  --shc2: rgb(24, 179, 19);
  --shc3: rgb(241, 23, 23);
  --pcol: rgb(148, 148, 148);
}
h1 {
  font-size: 24px;
}
p {
  color: var(--pcol);
}

html {
  background-color: var(--bg-main);
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-box {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-content-box);
  width: 30%;
  box-shadow: 0.5em 0.5em 0.5em var(--border-content);
  border-radius: 1.7em;
  margin-top: 2em;
}

.content-box img {
  width: 100%;
  border-radius: 1.5em 1.5em 0 0;
  _opacity: 0.7;
}

.content-text {
  padding: 1em;
}

.content-details {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "size quantity"
    "shcolor shcolor"
    "addbutton addbutton";
  background-color: var(--bg-main);
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
}

.content-details * {
  padding: 0.4em 0 0.4em 0;
}

.header {
  grid-area: header;
}

.pricebtn {
  background-color: var(--bg-content-box);
  border-radius: 0.5em;
  width: 100%;
  text-align: center;
}

.size {
  grid-area: size;
}

.quantity {
  grid-area: quantity;
}

select {
  border: 0;
  border-radius: 0.3em;
}

.shcolor {
  grid-area: shcolor;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.circle {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border-radius: 100%;
  margin-left: 1em;
}

.cgb1 {
  background-color: var(--shc1);
}

.cgb2 {
  background-color: var(--shc2);
}

.cgb3 {
  background-color: var(--shc3);
}
.cgb4 {
  background-image: linear-gradient(90deg, var(--shc1) 40%, black 60%);
}
.cgb5 {
  background-image: linear-gradient(90deg, var(--shc2) 40%, black 60%);
}
.cgb6 {
  background-image: linear-gradient(90deg, var(--shc3) 40%, black 60%);
}
.cgb7 {
  background-image: linear-gradient(90deg, var(--shc1) 40%, white 60%);
}
.cgb8 {
  background-image: linear-gradient(90deg, var(--shc2) 40%, white 60%);
}

.addbutton {
  grid-area: addbutton;
}

button {
  width: 100%;
  border-radius: 0.5em;
  background-color: var(--bg-add-button);
  color: var(--bg-content-box);
  border: 0;
}
